{:deps true
 :nrepl {:port 9000}
 :builds
 {:dev {:target :esm
        :js-options {:js-provider :import}
        :devtools {:preloads [flow-storm.storm-preload]
                   :http-port 8021}
        :modules {:app
                  {:exports {app org.foo.myscript/app}}}
        :output-dir "public"}}}
