{:deps true
 :nrepl {:port 9000}
 :builds
 {:dev {:target :esm
        :js-options {:js-provider :import}
        :devtools {:preloads [flow-storm.storm-preload]
                   :http-port 8021}
        :modules {:app
                  {:exports {factorial org.foo.cljs.myscript/factorial}}}
        :output-dir "src/org/foo/js"}}}
